nav {
  background-color: plum;
}

#title {
  grid-area: hd;
  display: flex;
  font-size: 2em;
  letter-spacing: 0.08em;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#subscribe {
  display: flex;
  width: 100%;
  font-size: 0.4em;
  justify-content: center;
  align-items: center;
}
